@import 'bootstrap';
@import "leaflet/dist/leaflet.css";

$image-color: #022144;

$base-back: #fefefe;

$sky-blue: #67c5ff;

// html {
//   font-size: 62.5%;
// }

// body {
//   font-size: 1.2rem;
//   font-family: 'BrandonTextWeb', 'YuGothic','.SF NS Text', 'YuGothic','Yu Gothic','Montserrat', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  transition: 0.5s;
  color: inherit;
}


body {
  font-family: '.SF NS Text', 'Montserrat', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
.wrapper {
  padding-top: 72.6px; /* 打ち消し用のパディング */
}

body {
  background-color: $base-back;

  .navbar {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 100;
  }

  .alert {
    padding-top: 83px;
    margin-bottom: 0;
  }

  #added-message > .alert {
    padding-top: 12px;
  }

  @media (min-width: 1500px) {
    .navbar {
      height: inherit;
      font-size: 20px;
    }

  .map-box {
    padding: 30px;
    border: 1px solid #555;
    .map-text {
      color: #555;
      text-decoration: none;
    }
  }
}

  //  パンくずリスト
  .fa-map-marked-alt {
    font-size: 13px;
    color: #479cec;
    // color: #000;
  }

  .bread-text {
    font-size: 15px;
  }

  .fa-home {
    font-size: 13px;
    color: #479cec;
    // color: #000;
  }

  @media (min-width: 1500px) {
    .fa-map-marked-alt,.fa-home {
      font-size: 15px;
    }

    .bread-text {
      font-size: 18px;
    }
}

#mapid {
  // height: 180px;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

@media (min-width: 1500px) {
  #mapid {
    height: 1150px;
  }
}

.circle {
  border: 1px solid #555;
  z-index: 10;
  text-align: center;
  border-radius: 50%;
}

.small-text {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.pin-icon {
  display: block;
  transition-duration: .5s;
  width: 5vw;
  z-index: 10;
  margin-bottom: 8px;

  &:hover {
    opacity: .5;
    transform: scale(1.1,1.1);
    cursor: pointer;    
  }

}

// .add-menber-form {
//   display: none;
// }

.shown {
  display: block;
}

//  ピンのイラストを変更したりする時用
// .marker {
//   width: 20px !important;
//   height: 20px !important;
//   margin: -10px !important;
//   border-radius: 10px;
//   border: 3px solid #fdfdfd;
//   box-shadow: 0 1px 4px rgba(0,0,0,0.8);
//   background-color: #c43;
//   z-index: 20 !important;
// }

.logout {
  position: fixed;
  top: 10%;
  right: 10%;
}

.bg-image-color {
  background-color: $image-color;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-around;
}

.product-box {
  flex-basis: 48%;
  border: 1px solid #c5bfbf;
  border-radius: 2px;
  // box-shadow: 0 0 1px 1px rgba(170, 164, 164, 0.6);
  box-shadow: 0 2px 0 rgba(131, 128, 128, 0.589);
    .sub {
      border-top: #c5bfbf 1px solid;
    }
}

// これをコメントアウトしないと、ポップアップの位置がずれる
  .map-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          height: inherit;
  }

// .leaflet-pane, .leaflet-control-container, .leaflet-top {
//   height: inherit;
// }

  .leaflet-control-container, .leaflet-top {
    height: inherit;
  }

}

.invite-form {
  padding: 30px;
  // background-color: rgba(0, 0, 0, 0.8);
  // background-color: rgba(173, 173, 173, 0.534);
  background-color: #eee;
  border-left: 15px solid rgb(59, 101, 228);
  border-radius: 5px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(59, 101, 228);
  // border: solid 1px rgb(23, 68, 216);
  border: solid 1px rgb(59, 101, 228);
  border-radius: 3px;
  background-color: #fefefe;
  transition: .4s;

    &:hover {
      background: rgb(59, 101, 228);
      color: white;
    }
}

.fa-users {
  color: #022144;
  padding-left: 5px;
}

.form-container {

  .left-border {
    // border-left: 2px solid rgb(59, 101, 228);
    padding-left: 5px;
    color: #3e3e3e;
  }
}

.site-title {
  font-size: 50px;
  font-weight: bolder;
}

.about-share-map {
  text-align: center;
}

.title-image {
  // padding-right: 30px;
  max-width: 50%;
}

.title-message {
  // padding-right: 20px;
  max-width: 40%;
  
  .btn-flat-border {
    color: rgb(59, 101, 228);
    font-size: 15px;
    width: 200px;
    padding: 14px;
    &:hover {
      color: #fff;
    }
  }
}

.main-title-content {
  justify-content: space-between;
  flex-wrap: nowrap;
  // align-items: center; テキストのdivを、縦方向に真ん中にする
}

.about-share-map {
  margin-top: 70px;
}

.sub-title {
  border-bottom: solid 5px rgb(248, 170, 24);
  display: inline;
}

.text-m {
  font-size: 20px;
}