@import 'bootstrap';
//*= require leaflet
//= require leaflet

$image-color: #022144;

$base-back: #fefefe;

body {
  font-family: '.SF NS Text', 'Montserrat', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
body {
  background-color: $base-back;

  .map-box {
    padding: 30px;
    border: 1px solid #555;
    .map-text {
      color: #555;
      text-decoration: none;
    }
  }
}

#mapid {
  // height: 180px;
  height: 500px;
  width: 1000px;
}

.logout {
  position: fixed;
  top: 10%;
  right: 10%;
}

.bg-image-color {
  background-color: $image-color;
}